name: Aktualizacja XML Allegro

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Run XML generator
        run: python allegro_html_opis_premium.py

          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add allegro_final.xml
          git commit -m "Automatyczna aktualizacja XML" || echo "Brak zmian"
          git push
